{% extends "::base.html.twig" %}

{% block title %}add phone{% endblock %}

{% block body %}
<h1>add phone</h1>

{{ form_start(phone_form) }}
{{ form_widget(phone_form) }}
{{ form_end(phone_form) }}


{% endblock %}