<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 class="modal-title">dodaj telefon</h3>
</div>
<div class="modal-body">

    {% block form_phone %}
        <form action="" method="POST">

            {{ form_errors(phone_form) }}

            {{ form_row(phone_form.phone_number) }}
            {{ form_row(phone_form.phone_type) }}

            {{ form_rest(phone_form) }}
            
            <input type="submit" value="Dodaj telefon" class="btn btn-outline btn-success btn-lg btn-block" />
            
        </form>

        {% endblock %}
</div>
<div class="modal-footer">
</div>