{% extends "::base.html.twig" %}

{% block page_title %}
    <h1>ContactBox - wszystkie kontakty</h1>
{% endblock %}

{% block body %}

    {{ form_start(search_form) }}
    {{ form_widget(search_form) }}
    {{ form_end(search_form) }}

    <br/>

    {% for contact in contacts %}
        {% include ('ContactBoxBundle:Contact:single_contact.html.twig') %}<br/>
    {% endfor %}

{% endblock %}
